html {
	font-size: 12px;
	color: black;
	font-family: Verdana;
}

body {
	background: url("picture.jpg") no-repeat center;
	background-size: cover;
	margin: 0;
}

.list {
	position: relative;
	top: 10vh;
	width: 40vw;
	margin: auto;
	background-color: rgba(0, 0 ,0 , 0.5);
	color: white;
	padding: 5rem 10rem;
}

/*custom the checkbox*/
li > input[type=checkbox] {
	opacity: 1;
	margin-right: 1rem;
	
}

/*li > label::before {
	content: '';
	display: inline-block;
	height: 16px;
	width: 16px;
	border: 1px solid white;
}

li > label::after {
	content: '';
	display: inline-block;
	height: 6px;
	width: 9px;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	transform: rotate(-45deg);
}

li > label {
	position: relative;
}

li > label::before, 
li > label::after {
	position: absolute;
}

li > label::before {
	top: 3px;
	left: -30px;
} 

li > label::after {
	left: -27px;
	top: 7px;
}

li input[type='checkbox'] + label::after {
	content: none;
}

li input[type='checkbox']:checked + label::after {
	content: '';
}
*/
/*input box for items and add-items*/
ul, form {
	padding: 0;
}

ul li {
	padding: 1.5rem;
	border-bottom: 1px dotted white;		
}

li input[type=text] {
	font-size: 1.5rem;
	color: white;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

form input[type=text] {
	font-size: 1.5rem;
	color: white;
	background: none;
	border: none;
	border-bottom: 1px solid white;
}

input[type=text]::placeholder {
	color: lightgrey;
	font-size: 1.5rem;
	/*padding: 0.2rem 0.5rem;*/
}

form > button.add-items {
	background: none;
	color: white;
	border-radius: 5px;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 5px 15px;
	margin-left: 2rem;
}

h1 {
	font-size: 3rem;
	text-align: center;
	margin-top: 0;
}

ul {
	font-size: 1.5rem;
	list-style: none;
	margin-bottom: 3rem;
}

